html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-color: #94d9ff;
}

body {
    margin-top: 50px;
}

table, td, th {
    padding: 2px;
}

th {
    font-weight: bold;
}

table {
    width: 100%;
}

header {
    background-color: #4a6d7f;
    border-bottom: 1px solid #253640;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 30px;
    color: white;
    padding: 0 5px;
}

h1 {
    display: inline-block;
    font-size: 28px;
    float: left;
}

h2 {
    color: #6fa3bf;
    font-size: 16px;
    color: #4a6d7f;
    font-weight: bold;
    border-bottom: 1px solid #253640;
    margin-bottom: 5px;
}

.box {
    border: 1px solid #253640;
    margin: 20px 20px 0;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.4;
    background-color: #85c3e5;
}

a, a:visited {
    color: #253640;
}

#player-channel:not(:empty):after  {
    content: " :: ";
    font-weight: bold;
}

#player {
    height: 100%;
    line-height: 29px;
    padding: 0 10px;
    text-align: right;
    float: right;
}

#metadata {
    clear: both;
    line-height: 30px;
}

input[type=range] {
    vertical-align: text-top;
    -webkit-appearance: none;
    background-color: #94d9ff;
    width: 150px;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #6fa3bf;
    width: 10px;
    height: 20px;
}

#player-controls {
    display: inline-block;
}

#player-loaded {
    color: #bb0000;
    font-weight: bold;
}

input {
    padding: 0;
    margin: 0;
    vertical-align: text-top;
    -webkit-appearance: none;
}

#player-mute, #player-rewind-status, #player-pause {
    vertical-align: text-top;
    color: black;
    display: inline-block;
    text-align: center;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #94d9ff;
}

#player-pause {
    width: 2em;
}


#player-mute {
    width: 2em;
    border-right: 2px solid #4a6d7f;
}

#player-rewind-status {
    width: 6em;
    border-right: 2px solid #4a6d7f;
}
