/* General */
html, body {
    min-height: 100%;
}
body {
    background-color: #FFF;
    color: #32393e;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    color: #008fd5;
    z-index: 99;
    border-bottom: 16px solid #008fd5;
}
header h1 {
    font-weight: 700;
    font-size: 1.8em;
    line-height: 45px;
    margin-left: 12px;
    float: left;

}
header nav {
    float: right;
}
header nav img {
    height: 20px;
    width: 20px;
    margin-top: 12px;
    margin-right: 18px;
}
.main {
    margin-top: 61px;
    width: calc(100% - 40);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.main h2 {
    font-weight: 300;
    
    font-size: 1.4em;
}

/* Table Styling */

table {
    margin-left: 20px;
    width: calc(100% - 60px);
    margin-bottom: 30px;
}

tr {
    height: 38px;
    line-height: 28px;
}
td {
    padding-left: 12px;
    vertical-align: middle;
}
td img {
    vertical-align: middle;
}
tbody tr:nth-child(odd) {
    background-color: #c7e7fc;
}
thead {
    text-align: left;
}
th {
    padding-left: 8px;
}
.channel {
    font-size: 1.2em;
    color: #2099c8;

}
.button {
    width: 40px;
}
.desc, .genre {
    font-size: .8em;
}


/* Controls */
.controls {
    overflow: hidden;
    height: 90px;
    width: calc(100% + 24px);
    position: fixed;
    bottom: -90px;
    left: 0;
    background: #000;
    color: #FFF;
    transition: bottom 1s;
    -webkit-transition: bottom 1s;
    -transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
}
.playpause {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 21px;
    text-align: center;
    margin-top: 19px;
    position: relative;
}
.playpause img {
    margin-top: 15px;
    height: 30px;
    width: 30px;
}
.volume {
    float: right;
    margin-right: 30px;
    text-align: center;
    width: 90px;
    padding-top: 28px;
    position: relative;
}
.volume input {
    width: 60px;
}
.currentinfo {
    float: center;
    text-align: center;
    padding-top: 10px;
    width: 528px;
    margin: auto;
}
.currentinfo input {
    width: 360px;
}
.currentinfo h3 {
    font-size: 14px;
    margin: auto;
}
.currentinfo h4 {
    font-size: 18px;
    margin: auto;
    margin-top: 4px;
    display: inline;
}
.currentinfo #time {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
.currentinfo img {
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: -2px;
}
#buylink {
    display: none;
}


/* Info */
.info {
    position: fixed;
    top: 30px;
    right: 28px;
    width: 250px;
    background-color: #FFF;
    border: 2px solid #008fd5;
    z-index: 999;
    font-size: .8em;
    padding: 10px;
    display: none;
}
#infobutton {
    cursor: pointer;
}


/* Dumb Album art stuff */
.art {
    overflow: hidden;
    position: absolute;
    background-image: url('http://a5.mzstatic.com/us/r30/Music/v4/04/15/78/04157815-169d-9f91-d596-342dee2f4c46/UMG_cvrart_00602537150120_01_RGB72_1200x1200_12UMGIM46901.400x400-75.jpg');
    width: 100%;
    height: 90px;
    background-position: 0 -600px;
    background-size: 100%;
    -webkit-filter: blur(12px);
    z-index: -1;
    clip: rect(600px,calc(100% + 12px),690px,12px);
    margin-left: -12px;

}