<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SeriousCast</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <header>
            <h1>SeriousCast</h1>
        
            <div id="player">
                <span id="vlc-channel"></span>
                <span id="vlc-nowplaying"></span>
                
                <span id="player-controls">
                    <button id="vlc-pause" type="button">Pause</button>
                    <button id="vlc-mute" type="button">Mute</button>
                    <input id="vlc-volume" min="0" max="100" value="100" type="range" title="Volume" />
                </span>
            </div>
        </header>
        
        <div id="info" class="box">
            Welcome to SeriousCast, SiriusXM Internet Radio for normal clients.<br />
            Streaming requires the VLC plugin for your web browser. <span id="player-loaded"></span><br />
            Playlist downloads require a SHOUTcast compatible streamer: VLC works well on desktop, XiiaLive works on Android after changing the stream engine to FFmpeg.
            <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" id="vlc" height="0" width="0" style="display: inline; margin: 0; padding: 0;" />
        </div>
        
        <div class="box">
            <h2>Channel Listing</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for channel in channels %}
                    <tr>
                        <td>
                            <a class="vlc-stream" data-channel="{{ channel.siriusChannelNo }}" href="#">Stream</a>
                            &bullet;
                            <a href="/playlist/{{ channel.siriusChannelNo }}">Playlist</a>
                        </td>
                        <td>{{ channel.siriusChannelNo }}</td>
                        <td>{{ channel.name }}</a></td>
                        <td>{{ channel.genre }}</td>
                        <td>{{ channel.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="/static/player.js"></script>
    </body>
</html>
